/* Import Tailwind and Google Fonts at the top */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Berkshire+Swash&family=Cookie&family=Hahmlet:wght@100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

@import "tailwindcss";

/* Define your theme variables */
@theme {
  --color-background_primary: #EFF3EA;
  --color-text_primary: #705C53;
  --color-text_secondary: #676565;
  --color-background_secondary: #D9D9D9;
  --font-display: "Anton", sans-serif; 
  --font-logo: "Berkshire Swash", serif;
  --font-standard: "Old Standard TT", serif;
  --font-newsReader: "Newsreader", serif;
  --font-cookie: "Cookie", serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* No need for @font-face when using Google Fonts */
